</head>

<body class="crossroad">
    <p class="logo-crs">
        <img src="img/moneasy_cloud.png" alt="moneasy" class="logo-img-crs">
    </p>
    <section>
        <div class="land-of-spend">
            <a href="dashboard" class="cloud-crs">
                <p class="cloud-text-crs">
                    Land of spend
                </p>
            </a>
        </div>
        <div class="go-to-goal">
            <a href="#" class="cloud-crs">
                <p class="cloud-text-crs">
                    Go to goal
                </p>
            </a>
        </div>
    </section>