</head>
<body class="crossroad">
<section>
    <p class="logo-crs">
        <img src="img/moneasy_cloud.png" alt="moneasy" class="logo-img-crs">
    </p>
    <div class="cloud-crs">
        <p class="cloud-text-crs">
            Land of spend
        </p>
    </div>
    <div class="cloud-crs">
            <p class="cloud-text-crs">
            Go to goal
        </p>
    </div>
</section>