</head>

<body class="crossroad">
    <p class="logo-crs">
        <img src="img/moneasy_cloud.png" alt="moneasy" class="logo-img-crs">
    </p>
    <section id="advice" class="cloud-crs hidden">
        <p id="advice-content"></p>
        <a id="seen-advice" class="hidden-seen">Got it</a>  
    </section>
    <section id="noadvice">
        <div class="land-of-spend">
            <a href="dashboard" class="cloud-crs crs-menu">
                Land of spend
            </a>
        </div>
        <div class="go-to-goal">
            <a href="goal" class="cloud-crs crs-menu">
                Go to goal
            </a>
        </div>
    </section>
    <script src="crossroad-js/advice.js"></script>
    <script>
    $(function() {
        getAdvice(function(data){
            if (!data){ //NOTE(DanoB) If data is false, keep advice hidden
                $("#advice").addClass("hidden");
                $("#noadvice").removeClass("hidden");
            }
            else {
                $("#advice-content").append(data);
                $("#advice").removeClass("hidden");
                $("#noadvice").addClass("hidden");
            }
        });

        $("#seen-advice").on("click", function(){
            $("#advice").addClass("hidden");
            $("#noadvice").removeClass("hidden");
        });

        var delayInMilliseconds = 2000;

        setTimeout(function() {
            $("#seen-advice").removeClass("hidden-seen");
        }, delayInMilliseconds);
    });
    </script>
</body>