</head>

<body class="crossroad">
    <p class="logo-crs">
        <img src="img/moneasy_cloud.png" alt="moneasy" class="logo-img-crs">
    </p>
    <section id="advice" class="hidden"></section>
    <section id="noadvice">
        <div class="land-of-spend">
            <a href="dashboard" class="cloud-crs">
                <p class="cloud-text-crs">
                    Land of spend
                </p>
            </a>
        </div>
        <div class="go-to-goal">
            <a href="#" class="cloud-crs">
                <p class="cloud-text-crs">
                    Go to goal
                </p>
            </a>
        </div>
    </section>
    <script src="crossroad-js/advice.js"></script>
    <script>
    $(function() {
        getAdvice(function(data){
            if (!data){ //NOTE(DanoB) If data is false, keep advice hidden
                $("#advice").addClass("hidden");
                $("#noadvice").removeClass("hidden");
            }
            else {
                $("#advice").html(data)
                $("#advice").removeClass("hidden");
                $("#noadvice").addClass("hidden");
                readAdvice();
            }
        });
    });
    </script>
</body>