

<form method='GET' action='/test'>
    <input type='text' placeholder='category' name='category'>
    <input type='number' placeholder='amount' name='amount'>
    <input type='text' placeholder='note' name='note'>
    <input type='submit'>
</form>
<div> <!-- v tomto div-e je pie chart -->
    <canvas id='pieChart'>
    </canvas>
</div>
<script>
    //pie chart initialization
var ctx = $('#pieChart')
var pieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['One', 'Two'],
        datasets: [{
            data: [2,5]
        }],
    },
    //options som deletol
});
</script>
</body>