<form method="GET" action="/sql">
    <input type="text" placeholder="category" name="category">
    <input type="number" placeholder="amount" name="amount" step="0.01">
    <input type="text" placeholder="note" name="note">
    <input type="submit">
</form>

<button id="get">Show expenses</button>

<table id="expenses">
    <thead>

    </thead>
    <tbody>

    </tbody>
</table>

<div> <!-- v tomto div-e je pie chart -->
    <canvas id='pieChart'>
    </canvas>
</div>
<script>
    //pie chart initialization
var ctx = $('#pieChart')
var pieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['One', 'Two'],
        datasets: [{
            data: [2,5]
        }],
    },
    //options som deletol
});

    function get() {
        let table = $("#expenses tbody").html("");
        $.ajax({
            url: "/sql",
            contentType: "application/json",
            success: function (res) {
                res.forEach(function(item){
                    table.append(`\
                    <tr>\
                        <td>${item["date"]}</td>\
                        <td>${item["spent"]}</td>\
                        <td>${item["category"]}</td>\
                        <td>${item["note"]}</td>\
                    </tr>\
                    `)
                });
            }
        });
    }

    function post() {

    }

    $("#get").on("click", function () {
        get();
    })
</script>
</body>