

<form method='GET' action='/test'>
    <input type='text' placeholder='category' name='category'>
    <input type='number' placeholder='amount' name='amount'>
    <input type='text' placeholder='note' name='note'>
    <input type='submit'>
</form>
</body>