</head>

<body>
    <main id='main-goal'>
        <section id='progress-section'>
            <p>Main Goal</p>
            <!-- hlavny goal-->
            <div class='progress-wrapper'>
                <div class='progress-bar'>
                    <!-- progress bar -->
                    <div class='progress'>

                    </div>
                    <div class='progress-end'>
                        55
                    </div>
                </div>
            </div>
        </section>
        <form>
            <input type='text' />
            <input type='number' />
            <input type='submit' />
        </form>
    </main>
    <script>
        $('.progress').css('width','10%');
    </script>
</body>