</head>

<body>
    <main id='main-goal'>
        <section id='progress-section'>
            <img src='img/moneasy_cloud.png'/>
            <!-- hlavny goal-->
            <div class='progress-wrapper'>
                <div class='progress-bar'>
                    <!-- progress bar -->
                    <div class='progress'>

                    </div>
                    <div class='progress-end'>
                        <img src='img/wheelbarrow.png'>
                    </div>
                </div>
            </div>
        </section>
        <form>
            <input type='text' />
            <input type='number' />
            <input type='submit' />
        </form>
    </main>
    <script>
        $('.progress').css('width','40%');
    </script>
</body>