</head>

<body>
    <main id='main-goal'>
        <p class="logo-crs logo-dash">
            <a href="crossroad"><img src="img/moneasy_cloud.png" alt="moneasy" class="logo-img-crs"></a>
        </p>
        <section id='progress-section'>
            <!-- hlavny goal-->
            <div class='progress-wrapper'>
                <!--<div class='progress-bar'>
                    progress bar 
                    <div class='progress'>

                    </div>
                    <div class='progress-end'>
                        <img src='img/wheelbarrow.png'>
                    </div>
                </div>-->
            </div>
        </section>
        <section id='form-section'>
            <form method="POST" action='/sql' class="spend-input goal-form">
                <div class="goal-input"> 
                    <input type='text' name='name' placeholder="What I want?"/>
                </div>
                <div class="goal-input">
                    <input type='number' name='end' placeholder="How much do I need?"/>
                </div>
            </form>
            <img src="img/submit.svg" id="submit"></img>
            <!-- <button id='submit'>Submit</button> -->
        </section>
    </main>
    <script>
        //$('.progress').css('width', '40%');
        //ziskavanie momentalneho stavu uctu z database
        var currentMoney = 0;
        function a(){
            $.ajax({ //NOTE(DanoB) Read advice
                "url": "/sql",
                "contentType": "application/json",
                "success": function (res) {
                    res.forEach((item) => {
                        currentMoney += item["spent"];
                    });
                }
            });
        setTimeout(get(),3000);
    }
        //post metoda
        function post() {
            let data = {};
            $('form').serializeArray().forEach((item) => {
                if(item){
                data[item['name']] = item['value']
                }
            })
            data['currentMoney'] = currentMoney;
            $.ajax({
                "url": "/sql",
                "method": "POST",
                "content-type": "application/json",
                "data": data,
                "success": function (res) {
                    if (res) {
                        setTimeout(get(),2000);
                    } else {
                        //NOTE(DanoB) Sem pridat spatnu vazbu FAIL
                    }
                }
            });
        }
        let data = {};
        data['goal'] = true;

        function get(){
            $.ajax({
                "url": "/sql",
                "method": "GET",
                "content-type": "application/json",
                "data": data,
                "success": function (res) {
                    if (res) {
                        let inside = $('.progress-wrapper').html("");
                        res.forEach((item) => {
                            var start = item['start']
                            var end = item['end']
                            var math = Math.round(currentMoney / end * 100);
                            var matString = math + '%';
                            console.log(currentMoney)
                            inside.append(`
                            <div class='progress-bar'>\
                            <div id='${item['id']}' class='progress'>\

                            </div>\
                            <div class='progress-end'>\
                            <img src='img/wheelbarrow.png'>\
                            </div>\
                            </div> \
                            <div class='goal-name'>\
                                ${item['note']}
                            </div>\
                            `)
                            if(matString < 2){
                            $(`#${item['id']}`).css('width', '5%');
                            }else{
                            $(`#${item['id']}`).css('width', matString);
                            }
                        })
                    } else {
                        console.log(res)
                        //NOTE(DanoB) Sem pridat spatnu vazbu FAIL
                    }
                }
            });
        }
        $("#submit").on("click", function () {
                post()
            })
        a();
    </script>
</body>