

    <section class="main-index">
        <section class="left-half">
            <p class="logo">
                <img src="img/moneasy_cloud.png" alt="moneasy" class="logo-img">
            </p>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            Nam vel eleifend neque. Praesent id massa facilisis, ullamcorper.</p> -->
        </section>
        <section class="right-half">
            <a href="https://github.com/login/oauth/authorize?client_id=b60801c8344cf6878ff5" class="login-coin">Login</a>
        </section>
    </section>
</body>