

    <section class="main-index">
        <section class="left-half">
            <h1>Moneeasy</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            Nam vel eleifend neque. Praesent id massa facilisis, ullamcorper.</p>
        </section>
        <section class="right-half">
            <a href="https://github.com/login/oauth/authorize?client_id=b60801c8344cf6878ff5">Login</a>
        </section>
    </section>
</body>