<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KBB85VX');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <title>Moneasy</title>

    <meta name="keywords" content="children,kids,money,finance,financial,literacy,savings,save,learn,teach,young,fun,game"/>
    <meta name="description" content="Kids focused spending report web app aimed to advise and improve financial literacy. Made to be playful."/>
    <meta name="subject" content="your website's subject">
    <meta name="copyright"content="company name">
    <meta name="language" content="English">
    <meta name="content-language" content="en">
    <meta name="robots" content="index,follow" />
    <meta name="topic" content="Financial literacy">
    <meta name="summary" content="Kids focused spending report web app aimed to advise and improve financial literacy. Made to be playful.">
    <meta name="author" content="Daniel Breiner contact@danielbreiner.net, Daniel Forrai daniel@forrai.sk, Ivan Havasi ivohavasi@gmail.com, Michal Demko mis.demko@gmail.com">
    <meta name="contact" content="contact@danielbreiner.net">
    <meta name="reply-to" content="contact@danielbreiner.net">
    <meta name="url" content="http://moneasy.net/">
    <meta name="identifier-URL" content="http://moneasy.net/">
    <meta name="category" content="Finance,Children,Kids,Learning,Fun">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="safe for kids"/>
    <meta name="target" content="all"/>
    <meta name="audience" content="all"/>
    <meta name="fragment" content="!"/>

    <meta name="og:type" content="website"/>
    <meta name="og:title" content="Moneasy"/>
    <meta name="og:url" content="http://moneasy.net"/>
    <meta name="og:image" content="http://moneasy.net/img/moneasy_logo.png"/>
    <meta name="og:site_name" content="Moneasy"/>
    <meta name="og:description" content="Kids focused spending report web app aimed to advise and improve financial literacy. Made to be playful."/>
    <meta name="og:email" content="contact@danielbreiner.net"/>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="MSThemeCompatible" content="no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="blue"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="msapplication-navbutton-color" content="blue"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <meta name="msapplication-starturl" content="http://moneasy.net"/>
    <meta name="theme-color" content="#0000FF"/>
    <meta http-equiv="Page-Enter" content="RevealTrans(Duration=1.0,Transition=1)"/>
    <meta http-equiv="Page-Exit" content="RevealTrans(Duration=1.0,Transition=1)"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="application-name" content="Moneasy"/>

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://moneasy.net">
    <meta property="twitter:title" content="Moneasy">
    <meta property="twitter:description" content="Kids focused spending report web app aimed to advise and improve financial literacy. Made to be playful.">
    <meta property="twitter:image" content="http://moneasy.net/img/moneasy_logo.png">

    <link href="https://fonts.googleapis.com/css?family=Kalam:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&text=LOGIN" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="dash.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<%- body %>

</html>