.radio-box input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.label {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    filter: grayscale(100);
}

.label img {
    height: 24px;
}

.radio-box input:checked+.label {
    filter: none;
}

.progress-bar {
    width: 50%;
    margin: 5px;
    border-bottom: 1px solid black;
}

.progress {
    width: 55%;
    background-color: red;
    height: 30px;
    display: inline-block;
    float: left;
}

.main-goal {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.main-goal section,
.main-goal form {
    width: 100%;
}

#progress-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.progress-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}
.progress-end{
    width: 20px;
    height: 30px;
    background-color: green;
    display: inline-block;
    float: left;
}