.radio-box input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.link{
    text-decoration: none;
    cursor: pointer;
}
.label {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    filter: grayscale(100);
}

.label img {
    height: 50px;
}

.radio-box input:checked+.label {
    filter: none;
}

.progress-bar {
    width: 40%;
    display: block;
    margin-bottom: 1.5vh;
    border-bottom: 5px solid #fff;
    background: url("img/goal_coins_start.png") bottom left no-repeat,
    url("img/goal_coins.png") bottom right no-repeat;
    background-size: 2vh, 7vh;
}

.progress {
    width: 55%;
    height: 100px;
    display: inline-block;
    background: url('/img/wheelbarrow.png') no-repeat right bottom;
    background-size: 5vh;
    float: left;
}

#main-goal {
    display: flex;
    flex-direction: column;
    padding: 5vh 5vh 0;
    background: url('img/cross_bg.png') repeat-x bottom #cfeffc;
    min-height: 100vh;
}

#main-goal section,
#main-goal form {
    width: 100%;
}

.progress-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progress-end{
    width: 60px;
    height: 30px;
    display: none;
    float: left;
}

@media all and (max-width: 1024px) {
    .label {
        width: 15vw;
        height: 15vw;
    }
    .label img {
        height: 15vw;
    }
    .progress-bar {
        width: 100%;
    }
}

.progress-end img{
    width: inherit;
    height: inherit;
}
