*, *:before, *:after {
    box-sizing: border-box;
  }

body {
    font-family: Kalam, Arial, cursive, sans-serif;
    text-align: center;
}

/* INDEX */
.main-index {
    display: flex;
    flex-wrap: wrap;
}

.left-half,
.right-half {
    width: 50%;
    height: 100vh;
}

.left-half {
    background: url("img/main_page_left_girl.png") bottom no-repeat #cfeffc;
    background-size: contain;
}

.logo {
    margin-top: 6vh;
}

.logo-img {
    width: 80%;
    height: auto;
}

.left-half {
    display: flex;
    flex-direction: column;
}

.cloud {
    background: url("img/cloud.png") no-repeat center;
    background-size: contain;
    margin-top: 4vh;
}

.cloud-text {
    width: 45%;
    margin: 10% 15% 10% 10%;
    padding: 4%;
    font-size: 2vw;
    display: inline-block;
}

.arrow-down {
    display: none;
    color: #fff;
}

.right-half {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/lady_hint.png") bottom right no-repeat,
    url("img/main_page_left.png") bottom no-repeat #cfeffc;
    background-size: 45%, contain;
    ;
}

.login-coin {
    display: block;
    width: 20vw;
    height: 20vw;
    line-height: 21vw;
    background: url("img/coin.png") no-repeat;
    background-size: contain;
    border-radius: 50%;
    font-family: "Luckiest Guy", cursive;
    font-size: 4.5vw;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/* CROSSROAD */

.crossroad {
    width: 100vw;
    height: 100vh;
    background: url("img/lady_cross.png") bottom center no-repeat,
    url("img/cross_bg.png") bottom repeat-x #cfeffc;
    background-size: 33vh, 63vh;
    padding-top: 3vh;
}

.logo-crs {
    margin-top: 0;
}

.logo-img-crs {
    width: 30vh;
    height: auto;
}

.cloud-crs {
    background: url("img/cloud.png") no-repeat center;
    background-size: contain;
    margin: 0;
    display: inline-block;
    color: #222;
}

.cloud-text-crs {
    font-size: 4.3vh;
    margin: 5vh 6vh 5vh 5vh;
    padding: 5.5vh;
    display: inline-block;
}

.land-of-spend .cloud-crs {
    margin-left: 10vw;
}

.go-to-goal .cloud-crs {
    margin-right: 10vw;
}

/* QUERIES */

@media all and (max-width: 1024px) {
    .main-index {
        flex-direction: column;
    }

    .left-half,
    .right-half {
        width: 100%;
    }

    .left-half {
        height: 75vh;
        justify-content: space-between;
    }

    .right-half {
        height: 40vh;
        background: url("img/lady_hint.png") bottom right no-repeat #23bf76;
        background-size: 30%;
    }

    .login-coin {
        width: 36vw;
        height: 36vw;
        line-height: 37vw;
        font-size: 6.9vw;
    }


    .arrow-down {
        display: inline-block;
        width: 10vw;
        height: auto;
        animation: pulse .5s infinite alternate;
    }

    @keyframes pulse {
        0% { transform: translateY(0); }
        100% { transform: translateY(-20px); }
    }

    .arrow-down:hover {
        cursor: pointer;
    }

    .cloud {
        margin: 0 0 15vh; /*9vw*/
    }

    .cloud-text {
        margin: 7% 11% 7% 7%;
        font-size: 4.8vw;
    }
      
}

@media all and (max-width: 600px) {
    .login-coin {
        width: 40vw;
        height: 40vw;
        line-height: 42vw;
        font-size: 8.5vw;
    }

    .right-half {
        background: url("img/lady_hint.png") bottom right no-repeat #23bf76;
        background-size: 38%;
    }
}